###########################
# OmniROM motorola common sepolicy
#

#allow mm-qcamerad system_file:file execmod;
allow mm-qcamerad system_data_file:dir w_dir_perms;
allow mm-qcamerad system_data_file:file open;
allow mm-qcamerad system_server:unix_stream_socket { read write };
allow servicemanager mm-qcamerad:dir search;
allow servicemanager mm-qcamerad:file { open read };
allow servicemanager mm-qcamerad:process { getattr };
binder_call(mm-qcamerad, servicemanager)
binder_call(mm-qcamerad, system_server)

# deprecated: unix_socket_connect(mm-qcamerad, mpctl, mpdecision)
# Please use set_prop(mm-qcamerad, <property name>) instead.
# unix_socket_connect(mm-qcamerad, mpctl, mpdecision);

#============= mm-qcamerad ==============
allow mm-qcamerad socket_device:sock_file write;
allow mm-qcamerad system_data_file:file { create write };
allow mm-qcamerad system_data_file:sock_file { create unlink };
