# Cutback socket (RILD)
type cutback_data_file, file_type, data_file_type;

# FSG
type fsg_file, fs_type, contextmount_type;

# Persist
type persist_omadm_file, file_type;
type persist_telephony_file, file_type;

# PDS
type pds_file, file_type;
type pds_public_file, file_type;
type pds_batt_file, file_type;

# Sensors
#type sysfs_devices_sensors, file_type, sysfs_type;

# Sysfs
type sysfs_wcnsscore, fs_type, sysfs_type;
type sysfs_rmt_storage, fs_type, sysfs_type;
type debugfs_rmt_storage, debugfs_type, fs_type;
